.btn{
    &,
    &:link,
    &:visited
    {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: $default-font-size;  
        //Change for the Button element
        border:none;
        cursor: pointer;
        
    }

    &:hover,
    {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black,.2);
        &::after{
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    &:active
    &:focus{
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black,.2);
    }

    &--white{
        background-color: $color-white;
        color: $color-grey-dark;
        &::after{
            background-color: $color-white;
        }
    }
    &--purple{
        background-color: $color-border-purple;
        color: $color-white;
        &::after{
            background-color: $color-border-purple;
        }
    }

    &::after{
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0; 
        z-index: -1; 
        transition: all .4s;  
    }    

    &--animated{
        animation-name: moveInBottom;
        animation-duration: 1.2s;
        animation-timing-function: ease-out;
        animation-delay: .75S;
        animation-fill-mode: backwards;
    }
}

.btn-text{
    &:link,
    &:visited{
        font-size: $default-font-size;
        color: $color-lightPurple;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-lightPurple;
        padding: 3px;
        transition: all .2s;
    }
    &:hover{
        background-color: $color-lightPurple;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
        
    }
    &:active{
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }
}