.composition{
    position: relative;
    &__photo{
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .8);
        border-radius: 2px;
        position: absolute;
        transition: all .2s;
        outline-offset: 1rem;

        &--p1{
            left:0;
            top:-2rem;
            z-index:10;
        }
        &--p2{
            right:0;
            top:2rem;
            z-index:10;
        }
        &--p3{
            left:20%;
            top:10rem;
            z-index:10;
        }

        &:hover{
            outline: 1.5rem solid $color-border-purple;
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            z-index:20;
        }
        
    }
    &:hover &__photo:not(:hover){
        transform: scale(.9);
    }
}