.form{
    &__group:not(:last-child){
        margin-bottom: 2rem;
    }
    &__input{
        font-size: 1.5rem;
        font-family: inherit;
        color:inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        backface-visibility: rgba($color-white, .5);
        border: none;
        border-bottom: 3px solid transparent;
        width: 90%;
        display: block;

        &:focus{
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: 3px solid $color-primary;              
        }

        &:focus:invalid{
            border-bottom: 3px solid $color-secondary-dark; 
        }

        &::-webkit-input-placeholder{
            color: $color-grey-dark-2;
        }
    }
   
    &__label{
        font-size: 1.2rem;
        font-weight: bold;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .2s;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }
}