//Keyframes go below here
@keyframes moveInBottom{
    0%{
        opacity: 0;
        transform: translateY(10rem);
    }
   
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-10rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(10rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}