.section-about{
    background-color: $color-grey-light-1;
    padding:25rem 0;
    margin-top: -25vh;
}

.section-features{
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom,
    rgba($color-lightPurple, 0.8),
    rgba($color-darkPurple, 0.8)),
    url(../img/goodback.png);
    background-size: cover;
    transform: skewY(-7.5deg);
    margin-top: -12rem;

    & > *{
        transform: skewY(7.5deg); 
    }
}

.section-offers{
    background-color: $color-grey-light-1;
    padding:25rem 0 15rem 0;
    margin-top: -15.5rem;
    
}

.section-stories{
    position: relative;
    padding:15rem 0;    
}

.section-book{
    padding:15rem 0;
    background-image: linear-gradient(to right bottom, $color-lightPurple, $color-darkPurple);
}
.book{
    background-image: linear-gradient( 105deg, 
                    rgba($color-white,.9)0%, 
                    rgba($color-white, .9)50%,
                     transparent 50%),  
                url(../img/nat-10.jpg);


    background-size: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
    height: 50rem;

    &__form{
        width: 50%;
        padding: 6rem;
    }
}